<app-logo-header></app-logo-header>
<div class="main-container">
    <div class="my-profile-box">
        <div class="my-profile-box__left">
            <div class="section margin-bottom">
                <div class="section__thumbnail">
                    <img src="../../assets/images/photo.png" />
                </div>
                <form [formGroup]="myProfile" novalidate>
                        <div class="section__field">
                            <h1>My Profile Screen</h1>
                            <div class="section margin-bottom">
                                <div class="form-field margin-right">
                                    <input type="text" placeholder="First Name *"  formControlName="sFirstName" />
                                </div>
                                <div class="form-field margin-right">
                                    <input type="text" placeholder="Middle Name *"  formControlName="sMiddleName" />
                                </div>
                                <div class="form-field">
                                    <input type="text" placeholder="Last Name *"  formControlName="sLastName" />
                                </div>
                            </div>
                            <div class="section margin-bottom">
                                <div class="form-field">
                                    <input type="text" placeholder="Email"  formControlName="sEmail" />
                                </div>
                            </div>
                        
                            <div class="section margin-bottom">
                                <div class="form-field">
                                    <input type="text" placeholder="Title in Company *"  formControlName="sTitleInCompany"/>
                                </div>
                            </div>
                        
                        
                            <button type="button" (click)="onsubmit()">Submit</button>
                        </div>
                </form>
            </div>
            
            

            
            
        </div>
        <div class="my-profile-box__right">
          <img src="../../assets/images/my-profile.svg" />
        </div>
    </div>
    
</div>