<app-logo-header></app-logo-header>
<div class="main-container">
    <div class="pic-one">&#160;</div>
    <div class="pic-two">&#160;</div>
    <div class="company-profile-box">
        <div class="company-profile-box__left">
            <div class="section margin-bottom">
                <div class="section__thumbnail">
                    <img src="../../assets/images/photo.png" />
                </div>
                <div class="section__field">
                    <h1>Company Profile</h1>
                    <div class="form-field">
                        <input type="text" placeholder="Enter User Name *" />
                    </div>
                </div>
            </div>
            <div class="section margin-bottom">
                <div class="form-field margin-right">
                    <input type="text" placeholder="FEIN Number *" />
                </div>
                <div class="form-field">
                    <input type="text" placeholder="Date Incorporated *" />
                </div>
            </div>
            <div class="section margin-bottom">
                <div class="form-field margin-right">
                    <input type="text" placeholder="DUNS Number" />
                </div>
                <div class="form-field">
                    <input type="text" placeholder="Company URL" />
                </div>
            </div>

            <h1>Tell Us About You</h1>
            <div class="section margin-bottom">
                <div class="form-field margin-right">
                    <input type="text" placeholder="First Name *" />
                </div>
                <div class="form-field margin-right">
                    <input type="text" placeholder="Middle" />
                </div>
                <div class="form-field">
                    <input type="text" placeholder="Last Name *" />
                </div>
            </div>

            <div class="section margin-bottom">
                <div class="form-field margin-right">
                    <input type="text" placeholder="Email *" />
                </div>
                <div class="form-field">
                    <input type="text" placeholder="Title in Company *" />
                </div>
            </div>
        </div>
        <div class="company-profile-box__right">
            <div class="section margin-bottom clear">
                <h1>&#160;</h1>
                <div class="input-container padding-left">
                    US (+1)
                    <i class="fa fa-user icon"></i>
                    <input class="input-field" type="text" placeholder="Username" name="usrnm">
                </div>
            </div>

            <div class="section margin-bottom">
                <div class="input-container">
                    <i class="fa fa-user icon icon-bg"></i>
                    <input class="input-field" type="text" placeholder="Username" name="usrnm">
                </div>
            </div>
           
            <div class="map-area">MAP AREA</div>
            
            <button type="button">Register</button>
            <div class="account-box margin-top text-center">
                    Already have an account?   <a [routerLink]="['/login']">LOGIN</a>
               
            </div>
            
         
        </div>
    </div>
    
</div>