<app-inner-header></app-inner-header>
<div class="main-container">
    <div class="body-wrapper">
        <div class="search-container">
            <div class="search-container__title">
                <h1>Self Assessment Dashbroad</h1>
            </div>
            <div class="search-container__search text-right">
                <form>
                    <input type="text" placeholder="Search Here.." name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <button type="submit" mat-button (click)="openDialog()"><i class="fa fa-user"></i> Add Self Assessment</button>
        </div>

        <div class="list-container">
            <div *ngFor="let item of assesmentList" class="list-container__item">
                <div  class="list-container__item__inner-list">
                    <ul>
                        <li>
                            <div class="left">
                                <div class="card-box">
                                    <div class="box">
                                        <div class="sub-box">
                                            <ul>
                                                <li class="pb">{{item.sAssessmentName}}</li>
                                                <li>Demo Level - {{item.iLevelId}}</li>
                                            </ul>
                                        </div>
                                        <div class="sub-box">
                                            <ul>
                                                <li>Status</li>
                                                <li><button *ngIf="item.assesmentStatusMaster.sStatusName ==='Draft'" class="draft">{{item.assesmentStatusMaster.sStatusName}}</button>
                                                </li>
                                                <li><button *ngIf="item.assesmentStatusMaster.sStatusName ==='In Progress'" class="in-progress">{{item.assesmentStatusMaster.sStatusName}}</button></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="box-2">
                                        <div class="sub-box">
                                            <div class="level">Level - {{item.iLevelId}}</div>
                                            <img src="../../../assets/images/medal.svg" />
                                        </div>
                                        <div class="sub-box">
                                            <ul>
                                                <li>Last Modified</li>
                                                <li>{{item.dtModifiedOn | date}}</li>
                                            </ul>
                                        </div>
                                        <div class="sub-box">
                                            <ul>
                                                <li>Created</li>
                                                <li>{{item.assesmentStatusMaster.dtCreatedOn | date}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="right">
                                <ul>
                                    <li>
                                        <mat-icon class="edit">edit</mat-icon>
                                    </li>
                                    <li>
                                        <mat-icon class="message">message</mat-icon>
                                    </li>
                                    <li>
                                        <mat-icon class="font_download">vertical_align_bottom</mat-icon>
                                    </li>
                                    <li>
                                        <mat-icon class="lock" (click)="onDelete(item)">delete</mat-icon>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        
                    </ul>
                </div>
            </div>
         </div>
     </div>
</div>