<div class="dialog-list">
    <ul>
        <li>
            <label>No of Users</label>
            <strong>12</strong>
        </li>
        <li>
            <label>No of Assesments</label>
            <strong>12</strong>
        </li>
        <li>
            <label>No of Verified Assesments</label>
            <strong>12</strong>
        </li>
        <li>
            <label>No of Completed Assesments</label>
            <strong>12</strong>
        </li>
    </ul>
</div>
<div class="dialog-bottom" mat-dialog-actions>
    <ul>
        <li><img src="../../../assets/images/logo.png" width="160"/></li>
        <li><button mat-button mat-dialog-close>Close</button></li>
    </ul>
</div>
