<app-logo-header></app-logo-header>
<div class="main-container">
    <div class="pic-two">&#160;</div>
    <div class="assessor-profile-box">
        <div class="assessor-profile-box__left">
            <div class="section margin-bottom">
                <div class="section__thumbnail">
                    <img src="../../assets/images/photo.png" />
                </div>
                <div class="section__field">
                    <h1>Assessor Profile</h1>
                    <div class="form-field">
                        <input type="text" placeholder="First Name *" />
                    </div>
                </div>
            </div>
            <div class="section margin-bottom">
                <div class="form-field margin-right">
                    <input type="text" placeholder="Middle Name *" />
                </div>
                <div class="form-field">
                    <input type="text" placeholder="Last Name *" />
                </div>
            </div>
            <div class="section margin-bottom">
                <div class="form-field margin-right">
                    <input type="text" placeholder="Email" />
                </div>
                <div class="form-field">
                    <input type="text" placeholder="Title in Company *" />
                </div>
            </div>

            <div class="section margin-bottom">
                <div class="form-field margin-right">
                    <input type="password" placeholder="Password *" />
                </div>
                <div class="form-field">
                    <input type="text" placeholder="Confirm Password *" />
                </div>
            </div>

            <div class="section margin-bottom">
                <div class="form-field">
                    <select>
                        <option>Sample</option>
                        <option>Sample</option>
                        <option>Sample</option>
                        <option>Sample</option>
                        <option>Sample</option>
                    </select>
                </div>
            </div>

            <div class="section margin-bottom">
                <div class="form-field">
                    <input type="file" placeholder="Upload Relevant Experience" />
                </div>
            </div>
            <button type="button">Register</button>
            <div class="account-box margin-top text-center">
                    Already have an account?   <a [routerLink]="['/login']">LOGIN</a>
            </div>
        </div>
        <div class="assessor-profile-box__right">
          <img src="../../assets/images/pic-three.svg" />
        </div>
    </div>
    
</div>