@import '../../../styles/imports';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

::ng-deep .logo{
  margin: 20px 0 10px 0;
  img{
    @include mq-breakpoint-md(){
      // margin-left: -100px;
    }
    @include mq-breakpoint-xl(){
      // margin-left: -250px;
    }
  }
}
.main-container {
 background: none;
  padding-bottom: 30px;
  margin: auto auto 50px auto;

@include mq-breakpoint-md(){
  max-width: 1100px;
  // padding: 50px 50px;
}
@include mq-breakpoint-xl(){
  max-width: 1300px;
  // padding-right: 200px;
}

 
  .pic-two{
    position: absolute;
    left: -40px;
    bottom: 0;
    width: 130px;
    height: 100%;
    background: url('../../../assets/images/pic-two.svg') no-repeat right bottom;
    background-size: 100%;
  }
}

.assessor-profile-box{
  width: $width-100;
  max-width: 160px;
  background: #fff;
  display: flex;
  border-radius: 20px;
  height: 100%;
  min-height: 650px;
  margin-left: 50px;
  @include mq-breakpoint-md(){
    max-width: 1050px;
    padding: 50px 50px 50px 70px;
    // margin-right: 100px;
  }
  @include mq-breakpoint-xl(){
    max-width: 1300px;
    margin: 0 100px;
    // padding: 100px 50px;
    // margin-right: 30px;
  }
  ::ng-deep{ 
    h1{
      font-size: 20px;
      font-weight: bold !important;
      color: $primary-color;
      margin-bottom: 5px;
      font-family: "Helvetica";
    
      @include mq-breakpoint-xl(){
        font-size: 30px;
      }
    }
    h2{
      font-size: 16px;
      font-weight: bold;
      color: $primary-color;
      margin-bottom: 10px;
      font-family: "Helvetica";
      @include mq-breakpoint-xl(){
        font-size: 22px;
      }
    }
    .margin-right{
      margin-right:20px;
    }
    .margin-bottom{
      margin-bottom:15px;
    }
    
    button{
      @include primary-button();
      width:$width-100;
      font-family: 'Roboto';
      margin-top:20px;
      @include mq-breakpoint-xl(){
        margin-top:25px;
      }
    }
  }
  &__left,
  &__right{
    width: 50%;
  }
  &__left{
    padding-right: 10px;
  
  }
  &__right{
    padding-left:10px;
    padding-bottom:50px;
    display: inline-flex;
    align-items: center;
  
   img{
     width: 100%;
     max-width: 570px;
   }
  }
  .section{
    display: flex;
    width: $width-100;
    &__thumbnail{
      width: 100px;
      display: flex;
      align-items: flex-end;
      margin-right: 20px;
      justify-content: center;
      img{
        max-width: 100px;
      }
    }
    &__field{
     width: calc(100% - 100px);
    }
  } 
  .form-field{
    width: $width-100;
    input[type='text'],
    input[type='password'],
    input[type='file'],
    select{
      @include input();
    }
    select{
      background:transparent;
    }
  }
}
