<app-inner-header></app-inner-header>
<div class="main-container">
    <div class="body-wrapper">
        <div class="search-container">
            <div class="search-container__title">
            <h1>Admin Dashboard</h1>
        </div>
        <div class="search-container__search text-right">
            <form>
                <input type="text" placeholder="Search Here.." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
              </form>
        </div>

    </div>


        <div class="list-container">
            <div class="list-container__item">
                <div class="list-container__item__logo">
                    LOGO
                </div>
                <div class="list-container__item__inner-list">
                    <ul>
                        <li>
                            <div class="left">
                                <ul>
                                    <li>Company</li>
                                    <li>Darknetvff</li>
                                </ul>
                            </div>
                            <div class="right">
                                <mat-icon class="edit" mat-button (click)="openDialog()">edit</mat-icon>
                            </div>
                        </li>
                        <li>
                            <div class="left">
                                <ul>
                                    <li>Subscriptions</li>
                                    <li>All Level Bundles</li>
                                </ul>
                            </div>
                            <div class="right">
                                <mat-icon class="message">message</mat-icon>
                            </div>
                        </li>
                        <li>
                            <div class="left">
                                <ul>
                                    <li>Expiry Date</li>
                                    <li>2021-10-02</li>
                                </ul>
                            </div>
                            <div class="right">
                                <mat-icon class="lock">lock</mat-icon>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="list-container__item">
                <div class="list-container__item__logo">
                    LOGO
                </div>
                <div class="list-container__item__inner-list">
                    <ul>
                        <li>
                            <div class="left">
                                <ul>
                                    <li>Company</li>
                                    <li>Darknetvff</li>
                                </ul>
                            </div>
                            <div class="right">
                                <mat-icon class="edit">edit</mat-icon>
                            </div>
                        </li>
                        <li>
                            <div class="left">
                                <ul>
                                    <li>Subscriptions</li>
                                    <li>All Level Bundles</li>
                                </ul>
                            </div>
                            <div class="right">
                                <mat-icon class="message">message</mat-icon>
                            </div>
                        </li>
                        <li>
                            <div class="left">
                                <ul>
                                    <li>Expiry Date</li>
                                    <li>2021-10-02</li>
                                </ul>
                            </div>
                            <div class="right">
                                <mat-icon class="lock">lock</mat-icon>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="list-container__item">
                <div class="list-container__item__logo">
                    LOGO
                </div>
                <div class="list-container__item__inner-list">
                    <ul>
                        <li>
                            <div class="left">
                                <ul>
                                    <li>Company</li>
                                    <li>Darknetvff</li>
                                </ul>
                            </div>
                            <div class="right">
                                <mat-icon class="edit">edit</mat-icon>
                            </div>
                        </li>
                        <li>
                            <div class="left">
                                <ul>
                                    <li>Subscriptions</li>
                                    <li>All Level Bundles</li>
                                </ul>
                            </div>
                            <div class="right">
                                <mat-icon class="message">message</mat-icon>
                            </div>
                        </li>
                        <li>
                            <div class="left">
                                <ul>
                                    <li>Expiry Date</li>
                                    <li>2021-10-02</li>
                                </ul>
                            </div>
                            <div class="right">
                                <mat-icon class="lock">lock</mat-icon>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="list-container__item">
                <div class="list-container__item__logo">
                    LOGO
                </div>
                <div class="list-container__item__inner-list">
                    <ul>
                        <li>
                            <div class="left">
                                <ul>
                                    <li>Company</li>
                                    <li>Darknetvff</li>
                                </ul>
                            </div>
                            <div class="right">
                                <mat-icon class="edit">edit</mat-icon>
                            </div>
                        </li>
                        <li>
                            <div class="left">
                                <ul>
                                    <li>Subscriptions</li>
                                    <li>All Level Bundles</li>
                                </ul>
                            </div>
                            <div class="right">
                                <mat-icon class="message">message</mat-icon>
                            </div>
                        </li>
                        <li>
                            <div class="left">
                                <ul>
                                    <li>Expiry Date</li>
                                    <li>2021-10-02</li>
                                </ul>
                            </div>
                            <div class="right">
                                <mat-icon class="lock">lock</mat-icon>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="list-container__item">
                <div class="list-container__item__logo">
                    LOGO
                </div>
                <div class="list-container__item__inner-list">
                    <ul>
                        <li>
                            <div class="left">
                                <ul>
                                    <li>Company</li>
                                    <li>Darknetvff</li>
                                </ul>
                            </div>
                            <div class="right">
                                <mat-icon class="edit">edit</mat-icon>
                            </div>
                        </li>
                        <li>
                            <div class="left">
                                <ul>
                                    <li>Subscriptions</li>
                                    <li>All Level Bundles</li>
                                </ul>
                            </div>
                            <div class="right">
                                <mat-icon class="message">message</mat-icon>
                            </div>
                        </li>
                        <li>
                            <div class="left">
                                <ul>
                                    <li>Expiry Date</li>
                                    <li>2021-10-02</li>
                                </ul>
                            </div>
                            <div class="right">
                                <mat-icon class="lock">lock</mat-icon>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="list-container__item">
                <div class="list-container__item__logo">
                    LOGO
                </div>
                <div class="list-container__item__inner-list">
                    <ul>
                        <li>
                            <div class="left">
                                <ul>
                                    <li>Company</li>
                                    <li>Darknetvff</li>
                                </ul>
                            </div>
                            <div class="right">
                                <mat-icon class="edit">edit</mat-icon>
                            </div>
                        </li>
                        <li>
                            <div class="left">
                                <ul>
                                    <li>Subscriptions</li>
                                    <li>All Level Bundles</li>
                                </ul>
                            </div>
                            <div class="right">
                                <mat-icon class="message">message</mat-icon>
                            </div>
                        </li>
                        <li>
                            <div class="left">
                                <ul>
                                    <li>Expiry Date</li>
                                    <li>2021-10-02</li>
                                </ul>
                            </div>
                            <div class="right">
                                <mat-icon class="lock">lock</mat-icon>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="list-container__item">
                <div class="list-container__item__logo">
                    LOGO
                </div>
                <div class="list-container__item__inner-list">
                    <ul>
                        <li>
                            <div class="left">
                                <ul>
                                    <li>Company</li>
                                    <li>Darknetvff</li>
                                </ul>
                            </div>
                            <div class="right">
                                <mat-icon class="edit">edit</mat-icon>
                            </div>
                        </li>
                        <li>
                            <div class="left">
                                <ul>
                                    <li>Subscriptions</li>
                                    <li>All Level Bundles</li>
                                </ul>
                            </div>
                            <div class="right">
                                <mat-icon class="message">message</mat-icon>
                            </div>
                        </li>
                        <li>
                            <div class="left">
                                <ul>
                                    <li>Expiry Date</li>
                                    <li>2021-10-02</li>
                                </ul>
                            </div>
                            <div class="right">
                                <mat-icon class="lock">lock</mat-icon>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="list-container__item">
                <div class="list-container__item__logo">
                    LOGO
                </div>
                <div class="list-container__item__inner-list">
                    <ul>
                        <li>
                            <div class="left">
                                <ul>
                                    <li>Company</li>
                                    <li>Darknetvff</li>
                                </ul>
                            </div>
                            <div class="right">
                                <mat-icon class="edit">edit</mat-icon>
                            </div>
                        </li>
                        <li>
                            <div class="left">
                                <ul>
                                    <li>Subscriptions</li>
                                    <li>All Level Bundles</li>
                                </ul>
                            </div>
                            <div class="right">
                                <mat-icon class="message">message</mat-icon>
                            </div>
                        </li>
                        <li>
                            <div class="left">
                                <ul>
                                    <li>Expiry Date</li>
                                    <li>2021-10-02</li>
                                </ul>
                            </div>
                            <div class="right">
                                <mat-icon class="lock">lock</mat-icon>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
     </div>
</div>