<div class="invite-container">
    <div class="invite-container__form">
        <h1>Invite</h1>
        <div class="form-field">
            <div class="form-field__input">
                <input type="text" placeholder="Email *"/>
            </div>
            <div class="form-field__input">
                <select>
                    <option>Subscription *</option>
                </select>
            </div>
            <div class="form-field__input">
                <input type="text" placeholder="Order Number *" />
            </div>
            <div class="form-field__input">
                <button mat-button mat-dialog-close>Send Invite</button>
            </div>
        </div>
    </div>
    <div class="invite-container__image">
        <img src="../../../assets/images/mail.svg" width="250"/>
    </div>
</div>
