<app-inner-header></app-inner-header>
<div class="main-container">
    <div class="body-wrapper">
        <div class="search-container">
            <div class="search-container__title">
                <h1>Manage Users</h1>
            </div>
            <div class="search-container__search text-right">
                <form>
                    <input type="text" placeholder="Search Here.." name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <button type="submit" mat-button (click)="openDialog()"><i class="fa fa-user"></i> Add New User</button>
        </div>

        <div class="list-container">
            <div class="list-container__item">
                <div class="list-container__item__image">
                    IMAGE
                </div>
                <div class="list-container__item__inner-list">
                    <ul>
                        <li>
                            <div class="left">
                                <ul>
                                    <li>Name</li>
                                    <li>James Junandi</li>
                                </ul>
                            </div>
                            <div class="right">
                                <mat-icon class="edit">edit</mat-icon>
                            </div>
                        </li>
                        <li>
                            <div class="left">
                                <ul>
                                    <li>Title In Company</li>
                                    <li>SOS Specialist</li>
                                </ul>
                            </div>
                            <div class="right">
                                <mat-icon class="message">message</mat-icon>
                            </div>
                        </li>
                        <li>
                            <div class="left">
                                <ul>
                                    <li>Email</li>
                                    <li>jamesjunaidi@yopmail.com</li>
                                </ul>
                            </div>
                            <div class="right">
                                <mat-icon class="lock">lock</mat-icon>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="list-container__item">
                <div class="list-container__item__image">
                    IMAGE
                </div>
                <div class="list-container__item__inner-list">
                    <ul>
                        <li>
                            <div class="left">
                                <ul>
                                    <li>Name</li>
                                    <li>James Junandi</li>
                                </ul>
                            </div>
                            <div class="right">
                                <mat-icon class="edit">edit</mat-icon>
                            </div>
                        </li>
                        <li>
                            <div class="left">
                                <ul>
                                    <li>Title In Company</li>
                                    <li>SOS Specialist</li>
                                </ul>
                            </div>
                            <div class="right">
                                <mat-icon class="message">message</mat-icon>
                            </div>
                        </li>
                        <li>
                            <div class="left">
                                <ul>
                                    <li>Email</li>
                                    <li>jamesjunaidi@yopmail.com</li>
                                </ul>
                            </div>
                            <div class="right">
                                <mat-icon class="lock">lock</mat-icon>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="list-container__item">
                <div class="list-container__item__image">
                    IMAGE
                </div>
                <div class="list-container__item__inner-list">
                    <ul>
                        <li>
                            <div class="left">
                                <ul>
                                    <li>Name</li>
                                    <li>James Junandi</li>
                                </ul>
                            </div>
                            <div class="right">
                                <mat-icon class="edit">edit</mat-icon>
                            </div>
                        </li>
                        <li>
                            <div class="left">
                                <ul>
                                    <li>Title In Company</li>
                                    <li>SOS Specialist</li>
                                </ul>
                            </div>
                            <div class="right">
                                <mat-icon class="message">message</mat-icon>
                            </div>
                        </li>
                        <li>
                            <div class="left">
                                <ul>
                                    <li>Email</li>
                                    <li>jamesjunaidi@yopmail.com</li>
                                </ul>
                            </div>
                            <div class="right">
                                <mat-icon class="lock">lock</mat-icon>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
     </div>
</div>