<div class="self-assessment-container">
    <div class="self-assessment-container__form">
        <h1>Self Assessment</h1>
        <div class="form-field">
      
            <div class="form-field__input">
                <input type="text" placeholder="Enter Self Assessment Name *" />
            </div>
            <div class="form-field__input">
                <select>
                    <option *ngFor="let obj of listData" [value]="obj.value">{{obj.sSubscriptionName}}</option>
                </select>
            </div>
        </div>
        
        <div class="bottom-container">
            <button mat-button mat-dialog-close>Submit</button>
        </div>
    </div>
    <div class="self-assessment-container__image">
        <img src="../../../assets/images/self-assessment.svg" width="350"/>
    </div>
</div>



<!-- <button mat-button mat-dialog-close>Close</button> -->
