

.margin-top{
    margin-top:10px;
}
.margin-bottom{
    margin-bottom:10px;
}
.margin-left{
    margin-left:10px;
}
.margin-right{
    margin-right:10px;
}
.margin{
    margin:auto;
}


.padding-top{
    padding-top:10px;
}
.padding-bottom{
    padding-bottom:10px;
}
.padding-left{
    padding-left:10px;
}
.padding-right{
    padding-right:10px;
}

.text-right{
   text-align: right;
}
.text-left{
    text-align: left;
 }
 .text-center{
    text-align: center;
 }