@import 'src/styles/settings/settings.colors';

@mixin width-height-100 {
	width: $width-100;
	height: $height-100;
}

@mixin primary-button {
	border-radius: 5px;
	background: $primary-color;
	color: $color-white;
	padding:15px;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	border:0;
	font-size: 14px;
	cursor: pointer;
	font-family: 'Roboto';
}

@mixin secondary-button {
	border-radius: 5px;
	background: $logo-color;
	color: $color-white;
	padding:15px;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	border:0;
	font-size: 16px;
	cursor: pointer;
	font-family: 'Roboto';
}

@mixin cancel-button {
	border-radius: 5px;
	background: $color-cyan;
	color: $smpl-blue;
	padding:15px;
	text-align: center;
	font-weight: bold;
	text-transform: capitalize;
	border:0;
	font-size: 16px;
	cursor: pointer;
	font-family: 'Roboto';
}

@mixin draft-button {
	border-radius: 5px;
	background: $color-red;
	color: $color-white;
	padding:5px 15px;
	text-align: center;
	font-weight: bold;
	text-transform: capitalize;
	border:0;
	font-size: 14px;
	cursor: pointer;
	font-family: 'Roboto';
}

@mixin success-button {
	border-radius: 5px;
	background: $color-green;
	color: $color-white;
	padding:5px 15px;
	text-align: center;
	font-weight: bold;
	text-transform: capitalize;
	border:0;
	font-size: 14px;
	cursor: pointer;
	font-family: 'Roboto';
}


@mixin in-progress-button {
	border-radius: 5px;
	background: $color-orange;
	color: $color-white;
	padding:5px 10px;
	text-align: center;
	font-weight: bold;
	text-transform: capitalize;
	border:0;
	font-size: 14px;
	cursor: pointer;
	font-family: 'Roboto';
}






@mixin input {
	border-radius: 3px;
	border:1px solid $color-grey-light;
	width: $width-100;
	font-size: 15px;
	line-height:24px;
	color: $color-grey;
	padding: 10px 15px;
	&:focus{
		border: 1px solid $color-teal;
	}
}

@mixin primary-label {
	background: $primary-color;
	color: $color-white;
}

@mixin secondary-label {
	background: $color-orange;
	color: $color-white;
}

@mixin normal-label {
	background: $color-grey-light;
	color: $primary-color;
}