/* ==========================================================================
   #BREAKPOINTS-VARIABLES
   ========================================================================== */

$screen-min-width: 320px;
$screen-xs-min: 375px;
$screen-sm-min: 576px;
$screen-md-min: 811px;
$screen-lg-min: 992px;
$screen-xl-min: 1400px;

