/* ==========================================================================
   #Globals-VARIABLES
   ========================================================================== */

$width-100: 100%;
$height-100: 100%;
$width-50: 50%;
$height-50: 50%;