
<div class="main-container">
    <div class="forgot-box">
        <div class="forgot-box__left">
            <img src="../../assets/images/forgot-password-img.svg" />
        </div>
        <div class="forgot-box__right">
            <div class="logo">
                <img src="../../assets/images/logo.png" />
            </div>
            <h1>Forgot Password</h1>
            <div class="login-form">
                <form [formGroup]="forgetPassword" novalidate>
                    <input type="text" placeholder="Enter User Name *" formControlName="userName" class="mb"/>
                    <div class="remember-box margin-top">
                        <div class="box margin-right">
                            <button type="button" (click)="validateUserFromServer()"> <i class="fa fa-spinner" *ngIf="isLoading"></i>Submit</button>
                        </div>
                        <div class="box">
                            <button type="button" class="back" [routerLink]="['/login']">Back</button>
                        </div>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>