<header>
    <div class="top-section">
        <div class="top-section__left">
            <div class="top-section__left__logo">
                <img src="../../assets/images/logo.png" />
            </div>
            <div class="top-section__left__welcome text-right">
                Welcome :<span> Peddi, Vardhan</span>
            </div>
        </div>
        <div class="top-section__right text-right">
            <div class="top-section__right__nav">
                <ul>
                    <li><a mat-button (click)="openInviteDialog()">Invite</a></li>
                    <li><a href="">Company Details</a></li>
                    <li><a href="">Manage Assessors &#38; RP</a></li>
                    <li class="profile-thumb">
                        <img src="../../assets/images/photo.png" />
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
