<app-inner-header></app-inner-header>
<div class="main-container">
    <div class="body-wrapper">
    
        <div class="body-wrapper__left">
            <h1>Available Assessors</h1>
            <p>Below are the available Assessors that you can work with to ensure the CMMC Assessments are as per requirements, so your CMMC certification process is as smooth as possible. Depending on your need, please associate with the appropriate Assessor to suit your needs. </p>
            <p>More information on what each type of Assessor can do can be found at the CMMC Accreditation Body Official Website: https://cmmcab.org/assessors-lp/ </p>
            <p>You can invite them via SMPL-C to discuss your needs offline, and then associate them with your account. Do note that these Assessors are independent contractors and are not affiliated with SMPL-C at this time. Any credentials and certifications need to be verified by you and your company prior to association.</p>
            <p>SMPL-C is providing a free service to bring necessary parties together to simplify the CMMC Certification process. SMPL-C is not responsible for the quality and correctness of the Assessor’s work output.</p>

            <div>
                <img src="../../assets/images/pic-three.svg" />
            </div>
        </div>
        <div class="body-wrapper__right">
            <div class="body-wrapper__right__content-container">
                <div class="body-wrapper__right__item">
                    <div class="thumb-img">
                        <img src="../../assets/images/photo.png" />
                    </div>
                    <div class="name">
                        Sanjeev AsD, AssesoorQ
                        <div class="sub">
                            Certified CMMC Professional (CCP)
                        </div>
                    </div>
                    <div class="btn-container">
                        <button>Download Details</button>
                        <button class="email">Email</button>
                        <button class="associate">Associate</button>
                    </div>
                </div>
                <div class="body-wrapper__right__item">
                    <div class="thumb-img">
                        <img src="../../assets/images/photo.png" />
                    </div>
                    <div class="name">
                        Sanjeev AsD, AssesoorQ
                        <div class="sub">
                            Certified CMMC Professional (CCP)
                        </div>
                    </div>
                    <div class="btn-container">
                        <button>Download Details</button>
                        <button class="email">Email</button>
                        <button class="associate">Associate</button>
                    </div>
                </div>
                <div class="body-wrapper__right__item">
                    <div class="thumb-img">
                        <img src="../../assets/images/photo.png" />
                    </div>
                    <div class="name">
                        Sanjeev AsD, AssesoorQ
                        <div class="sub">
                            Certified CMMC Professional (CCP)
                        </div>
                    </div>
                    <div class="btn-container">
                        <button>Download Details</button>
                        <button class="email">Email</button>
                        <button class="associate">Associate</button>
                    </div>
                </div>
                <div class="body-wrapper__right__item">
                    <div class="thumb-img">
                        <img src="../../assets/images/photo.png" />
                    </div>
                    <div class="name">
                        Sanjeev AsD, AssesoorQ
                        <div class="sub">
                            Certified CMMC Professional (CCP)
                        </div>
                    </div>
                    <div class="btn-container">
                        <button>Download Details</button>
                        <button class="email">Email</button>
                        <button class="associate">Associate</button>
                    </div>
                </div>
                <div class="body-wrapper__right__item">
                    <div class="thumb-img">
                        <img src="../../assets/images/photo.png" />
                    </div>
                    <div class="name">
                        Sanjeev AsD, AssesoorQ
                        <div class="sub">
                            Certified CMMC Professional (CCP)
                        </div>
                    </div>
                    <div class="btn-container">
                        <button>Download Details</button>
                        <button class="email">Email</button>
                        <button class="associate">Associate</button>
                    </div>
                </div>
                <div class="body-wrapper__right__item">
                    <div class="thumb-img">
                        <img src="../../assets/images/photo.png" />
                    </div>
                    <div class="name">
                        Sanjeev AsD, AssesoorQ
                        <div class="sub">
                            Certified CMMC Professional (CCP)
                        </div>
                    </div>
                    <div class="btn-container">
                        <button>Download Details</button>
                        <button class="email">Email</button>
                        <button class="associate">Associate</button>
                    </div>
                </div>
            </div>
        </div>

     </div>
</div>